.app {
    text-align: center;
    margin: 20px;
    font-family: Arial, sans-serif;

    border: 2px solid rgb(230, 24, 103);
    width: 50vw;
    height: 60vh;
    border-radius: 2vw;
    background-color: #e37a91;

  }
  
  input {
    padding: 10px;
    font-size: 1em;
    margin-bottom: 20px;
    border-radius: 2vw;
    border: none;
  }
  
  .calculo-fatorial {
    margin-top: 20px;
    font-size: 1.5em;
    color: #f82c58;

  }
  